.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #3cc1e4;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navLinks li a {
  font-size: 1rem;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  font-weight: bold;
}

.navLinks li a:hover {
  color: #333;
  font-weight: bold;
}
