.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.logoContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo a {
  text-decoration: none;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navLinks li a {
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
  text-transform: uppercase;
}

.navLinks li a:hover {
  font-weight: bold;
}

.icon {
  margin-right: 8px;
  vertical-align: top;
  color: #333;
  font-size: 1.2rem;
}

.navLinks a:hover .icon {
  color: #00f2fe;
}
