.services {
  padding: 2rem;
  background-color: #0073e6;
<<<<<<< HEAD
  color: #fff;
=======
  color: white;
>>>>>>> d576516 (All routes work properly | Placeholders in place | TODO: Need to work on the login logic and the styling of all new placeholders)
  text-align: center;
}

.services h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.services ul {
  list-style: none;
  padding: 0;
}

.services li {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  line-height: 1.6;
}
